:root{
    --violeta: hsl(257, 40%, 49%);
    --magenta: hsl(300, 69%, 71%);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-image: url('../images/bg-desktop.svg');
    background-color: var(--violeta);
}

.logo{
    margin: 35px 0 0 60px;
    max-width: 160px;
}

.container{
    display: flex;
    margin: 50px 0 0 60px;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: 70vh;
}

.imagem{
    max-width: 90%;
}

.img-mockup{
    max-width: 600px;  
}

.informacoes{
    margin-left: 30px;
    max-width: 80%;
}

.title{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    max-width: 400px;
}

.text{
    color: #fff;
    margin-bottom: 20px;
    max-width: 400px;
}

.button{
    background-color: #fff;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.404);
    border-radius: 25px;
    color: var(--violeta);
    border: none;
    width: 150px;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    color: #fff;
    background-color: var(--magenta);
}

.footer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 60px;
}

.icon{
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 5px;
    margin-left: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
}

.icon:hover{
    color: var(--magenta);
    border: 1px solid var(--magenta);
    border-radius: 50%;
    padding: 5px;
}

@media(max-width: 375px){
    body{
        background-image: url('../images/bg-mobile.svg');
        background-color: var(--violeta);
        background-repeat: no-repeat;
    }

    .logo{
        margin: 30px 20px 0 20px;
        max-width: 100px;
    }
    
    .container{
        margin: 30px 20px 80px 20px;
        flex-direction: column;
        justify-content: center;
        height: 60vh;
    }

    .img-mockup{
        max-width: 100%;
        margin-bottom: 15px;
    }

    .informacoes{
        margin: 0;
        max-width: 90%;
        font-weight: 400;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .title{
        font-size: 1.2rem;  
    }

    .text{
        text-align: center;
        margin-bottom: 20px;
        font-size: 0.8rem;
    }

    .button{
        height: 20px;
        width: 120px;
        padding: 5px 0 5px 0;
        font-size: 0.4rem;
    }

    .footer{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center; 
    }

    .icon {
        width: 17.5px;
        height: 17.5px;
        font-size: 8px;
        text-align: center;
        padding: 2px;
    }
} 

@media(max-width: 769px){
    body{
        background-image: url('../images/bg-desktop.svg');
        background-color: var(--violeta);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .container{
        display: flex;
        flex-direction: column;
        margin: 30px 20px;
    }

    .informacoes{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .img-mockup{
        max-width: 100%;
        margin-bottom: 25px;
    }

    .title, .text{
        margin: 0;
        max-width: 100%;
        text-align: center;
        margin-bottom: 25px;
    }

    .button{
        margin-bottom: 25px;
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    
    
}