@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;600&display=swap');

body {
    max-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    background-image: url('src/imagens/bg-desktop.svg') center center no-repeat;
    background-color: hsl(257, 40%, 49%);
}

.cabecalho .logo {
    max-width: 214px;
    max-height: 160px;
    margin-left: 68px;
}

.container .informacoes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 69px;
}

.container .informacoes .imagem {
    max-width: 100rem;
    padding-top: 27px;
}

.container .informacoes .descricao{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
}

.container .informacoes .descricao .title {
    font-size: 2.4rem;
    font-weight: 600;
    padding-left: 3.7rem;
}

.container .informacoes .descricao .title,
.container .informacoes .descricao .text {
    color: #fff;
    margin-bottom: 1.8rem;
}

.container .informacoes .descricao .text {
    font-size: 1rem;
    padding-left: 3.7rem; 
}

.container .informacoes .descricao .button {
    background-color: #fff;
    color: hsl(257, 40%, 49%);
    font-size: 1rem;
    padding: 1.3rem;
    width: 12.6rem;
    border-radius: 3rem;
    border: hsl(257, 40%, 49%);
    box-shadow: 1px 1px 3px 1px rgb(41, 1, 39);
    margin-left: 4rem;
    margin-bottom: 5.6rem;
}

.container .informacoes .descricao .button:hover {
    background-color: hsl(300, 69%, 71%);
    cursor: pointer;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem 2rem 0;
}

.footer .icon {
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    margin-left: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.5rem;
}

.footer .icon:hover {
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}